body {
	padding:0;
	margin:0;
	display:flex;
	flex-direction:column;
	flex-wrap:nowrap;
}
#top {
	height:90px;
	flex:0 0 auto;
	background-color: #000;
	background-image: url("logo.png");
	background-repeat: no-repeat;
	padding-left:170px;
	z-index: 1;
	border-bottom:1px solid black;
}
#logoClick {
	position: absolute;
	top:0;
	left:0;
	width: 170px;
	height:90px;
}
#middleSolo {
	flex:1 1 auto;
	background-color: #fff;
	padding:0px 20px 20px 20px;
}
#middleSolo h1 {
	font-size: 22px;
}
#middleSolo h2 {
	margin: 20px 0 5px 0;
	font-size: 20px;
}
#middleSolo h1 a,
#middleSolo h2 a {
	text-decoration: none;
}
#middleSolo h1 a:hover,
#middleSolo h2 a:hover {
	text-decoration: underline;
}
#middle {
	border-top:1px solid black;
	flex:1 1 auto;
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	z-index: 100000;
	background-color: #fff;
}
#foot {
	padding-left:20px;
	border-top:1px solid black;
	flex:0;
	background-color: #000;
	color: #fff;
	height:50px;
}
#col1 {
	border-right:1px solid black;
	overflow: hidden;
	background-color: #efefef;
	min-width: 240px;
	max-width: 260px;
	white-space: nowrap;
	text-overflow: ellipsis;
}
#col2 {
	border-right:1px solid black;
	overflow: hidden;
	min-width: 250px;
	max-width: 300px;
}
#col3 {
	min-width:400px; 
}
#col1 h1 {
	padding:6px;
	margin: 0px;
	background-color: #ddd;
	font-size: 1.1em;
	margin-bottom:10px;
}
#col1 a {
	margin-left: 6px;
}
#col1 #sort {
	margin-bottom:10px;
}
#col1 a {
	color:#333;
	text-decoration: none;
}
#col1 a:hover {
	text-decoration: underline;
}
#col1 a.selected {
	color:#000;
	font-weight: bold;
}
#level_section {
	background-color: #caf6fd;
	padding-bottom: 20px;
}
#level_section p {
	padding:6px;
}
table {
	padding: 0;
	margin: 0 0 0 5px;
	border-collapse: separate;
	border-spacing: 0px;
}
td,
th {
	text-align: left;
	padding: 0 10px;
	border-left: 1px solid #666;
}
th {
	white-space: nowrap;
}
td:first-child,
th:first-child {
	border-left: 0px solid #666;
}
table.info {
	border:1px solid black;
}
table.info th {
 text-align: left;
 background-color: #000;
 color: #fff;
}
table.info td {
	padding: 3px;
	border-right: 0;
	border-left: 0;
	border-bottom: 1px solid #ddd;
}
table.info.space td {
	padding: 5px;
}
td.center {
	text-align: center;
}
#star_section {
	background-color: #f9fab9;
	padding-bottom: 20px;
}
#level_section h1 {
	padding:6px;
	margin: 0px;
	background-color: #3cb5c7;
	font-size: 1.1em;
	margin-bottom:10px;
}
#star_section h1 {
	padding:6px;
	margin: 0px;
	background-color: #eaca48;
	font-size: 1.1em;
}
#shard_data {
	padding:6px;
	margin-top:10px;
}
#shard_summary {
	padding:6px;
}
#star_section p {
	padding:0px 6px;
}
#your_section {
	padding-bottom: 20px;
}
#your_section h1 {
	padding:6px;
	margin: 0px;
	background-color: #ddd;
	font-size: 1.1em;
}
#your_section .space {
	padding: 6px;
	line-height: 1.6em;
}
#col3.toons h1 {
	padding:6px;
	margin: 0px;
	background-color: #99f399;
	font-size: 1.1em;
}
#col3 #g1,
#col3 #g2,
#col3 #g3 {
	background-color: #eefdee;
}

#col3 #g4,
#col3 #g5,
#col3 #g6 {
	background-color: #eafafc;
}
#col3 #g7,
#col3 #g8,
#col3 #g9,
#col3 #g10,
#col3 #g11 {
	background-color: #f5effa;
}
#col3 #g12 {
	background-color: #f9fab9;
}
#col3 #g4 h1,
#col3 #g5 h1,
#col3 #g6 h1{
	background-color: #3cb5c7;
}
#col3 #g7 h1,
#col3 #g8 h1,
#col3 #g9 h1,
#col3 #g10 h1,
#col3 #g11 h1 {
	background-color: #7914d7;
	color:#fff;
}
#col3 #g12 h1 {
	background-color: #eaca48;
}

#col3 p {
	padding:6px;
	margin: 0;
}
.g_lvl {
	padding-bottom:10px;
}
.g_lvl b {
	padding: 6px;
}
.g_lvl .summary {
	margin-top: 10px;
	padding:0px 0px 0px 6px;
}
.g_lvl .dim {
	padding: 0px 0px 5px 6px;
	font-size: 0.9em;
	color: #666;
}
#gear_total {
	padding:6px;
}
.red {
	color:#800;
}

#crew {
	background-color: #efe;
	padding-bottom: 20px;
}
#crew h1 {
	padding:6px;
	margin: 0px;
	background-color: #cec;
	font-size: 1.1em;
}

#crew #crew_details {
	padding: 6px;
	line-height: 1em;
}
#crew #crew_details a {
	text-decoration: underline;
}
#crew #crew_details i {
	color:#666;
	margin-bottom:10px;
}
.squad {
	display: inline-block;
	margin:5px;
	max-width: 420px;
	vertical-align: top;
}
.squad img {
	display: block;
	height:300px;
}
.squad .yt {
	float: right;
}
.squad i {
	clear:both;
	display: block;
}
.square {
	display: inline-block;
	width:200px;
	height:350px;
	background-color: #eee;
	padding:10px;
	border-radius: 5px;
	vertical-align: top;
	margin: 0px 20px 20px 0px;
	text-align: center;
}
.square.short {
	height: 270px;
}
.square img {
	border-radius: 5px;
	margin-bottom:10px;
}
.square b a {
	font-size: 18px;
	text-decoration: none;
}
.square b a:hover {
	text-decoration: underline;
}
.square p {
	text-align: left;
	margin-top:10px;
	font-size: 14px;
	line-height: 16px;
	color:#222;
}

.rect {
	display: inline-block;
	background-color: #eee;
	padding:10px;
	border-radius: 5px;
	vertical-align: middle;
	margin: 0px 20px 20px 0px;
	text-align: left;
	max-width: 650px;
}
.rect.promo {
	background-color: #f3f09b;
	font-size: 20px;
}
.rect.promo a {
	font-weight: bold;
}
.rect img {
	border-radius: 5px;
	display: inline-block;
	vertical-align: middle;
}
.rect p {
	display: inline-block;
	vertical-align: middle;
}
br.clear {
	clear:both;
}
input[type=text],textarea { font-size: 14px; padding:4px;margin:3px;}

.btn {
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Georgia;
  color: #422e07;
  font-size: 17px;
  background: #e0af1d;
  padding: 10px 20px 10px 20px;
  border: solid #bd8b28 2px;
  text-decoration: none;
}

.btn:hover {
  color: #e0af1d;
  background: #422e07;
  text-decoration: none;
  cursor: pointer;
}

.half {
	display: inline-block;
	width:45%;
	min-width: 400px;
	vertical-align: top;
}

.space_top {
	margin-top:10px;
}
.space_top2 {
	margin-top:20px;
}

@media (max-width: 800px) {
	.square {
		width:150px;
		height:290px;
		margin: 0px 10px 10px 0px;
	}
	.square img {
		width: 100px;
		height:100px;
	}
	.square.short {
		height: 250px;
	}
}

@media (max-width: 620px) {
	.square {
		width:41%;
		height:280px;
		padding: 3%;
		margin: 0px 2% 2% 0px;
	}
	.square.short {
		height: 230px;
	}
}

@media (max-width: 800px) {
	.half {
		width:100%;
		min-width:100%;
	}
}

@media (max-width: 430px) {
	.square {
		width:92%;
		height:auto;
		padding: 4%;
		margin: 0px 8% 10px 0px;
	}
	.square.short {
		height:auto;
	}
}